<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
 <head>
  <title>
   Edusofty
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/EfflorescenceGreen/style.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash {font-weight: bold;display: none;position: fixed;padding: 10px;top: 48px;right: 250px;min-width: 280px;opacity: 0.95;margin: 0px 0px 10px 10px;vertical-align: middle;float:right;cursor: pointer;color: #FFF;background-color: #000;border: 2px solid #FFF;border-radius: 8px;background-image: -moz-linear-gradient(90deg, #222, #000);
background-repeat: repeat-x;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;z-index: 2000;}
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>
  <link rel="shortcut icon" href="{{=URL('static','images/favicon.jpeg')}}" type="image/jpeg">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monsieur+La+Doulaise" />
 </head>
 <body>
  <!-- start header -->
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <div id="header">
   <h1>
    Edusofty
   </h1>
  </div>
  <div id="menu">
   {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
  </div>
  <div id="page">
   <div id="page-top">
    <div id="page-bottom">
     <div>
      
      <div id="content">
       <div class="flash">{{=response.flash or ''}}</div>
       {{include}}
      </div>
     </div>
     <div style="clear: both;">
      &nbsp;
     </div>
    </div>
   </div>
  </div>
  <div id="footer">
   <p>
    Copyright © 2014 Gs355. 
   </p>
  </div>
 </body>
</html>
