{{extend 'layout.html'}}

{{=FORM(B(T('Import ')),BR(),
	LABEL('Test Name : '),INPUT(_type='text',_name='tname',_required='true'),BR(),
	LABEL('Category : '),SELECT('Aptitude','Verbal','OS','Database',_name="cat"),BR(),
	LABEL('Marks per question : '),INPUT(_type='number',_name='marks',_required='true'),BR(),
	LABEL('Negative Score: '),INPUT(_type='text', _name='negmarks', _placeholder='Between 0.0 and 1.0'),BR(),
	LABEL('Import : '),INPUT(_type='file',_name='csvfile'),BR(),
	INPUT(_type='hidden',_value='dba.auth_user',_name='test'),
	INPUT(_type='submit',_value='Upload'))
}}


{{=BEAUTIFY(response._vars)}}
