/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/


/** Common Styles */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #393939;
	line-height: 25px;
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 1.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #63B429;
}

/** Header Style Starts Here */

#header {
	width: 800px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#header h1 {
	margin: 0;
	padding: 40px 0 10px 55px;
	background: url(images/logo.png) no-repeat left 90%;
	background-size: 6%;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;

}

#header h1{
    background: white linear-gradient(left, rgb(0, 112, 0) 0%, rgba(0, 0, 112, 0) 50%,rgba(0, 112, 0, 0) 50%, rgb(0, 112, 0) 100%);
    background: white -webkit-linear-gradient(left, rgb(0, 112, 0) 0%, rgba(0, 0, 112, 0) 50%,rgba(0, 112, 0, 0) 50%, rgb(0, 112, 0) 100%);
    background: white -moz-linear-gradient(left, rgb(0, 112, 0) 0%, rgba(0, 0, 112, 0) 50%,rgba(0, 112, 0, 0) 50%, rgb(0, 112, 0) 100%);
    background-size: 200% 100%;
    transition: all 2s linear;
    animation: progress 1s linear infinite;
    -webkit-animation: progress 1s linear infinite;
    -moz-animation: progress 1s linear infinite;
    background-position:100%;
}
@keyframes progress
{
to {background-position: 30px 0;}
}

@-moz-keyframes progress
{
to {background-position: 30px 0;}
}

@-webkit-keyframes progress
{
to {background-position: 30px 0;}
}

/** Menu Style Starts Here */


#menu {
	width: 1000px;
	height: 52px;
	margin: 0 auto;
	background: url(images/image01.jpg) no-repeat left top;
    background-size: 1000px;
}

#menu ul {
	margin: 0;
	list-style: none;
	padding-top: 10px;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 20px;
	background: url(images/image06.gif) no-repeat right 50%;
	text-decoration: none;
	font-family: Roman;
    font-size: 16px;
    font-weight: bolder;
    color: #EEEEFF;
}

#menu a:hover {
}

#menu .first a  {
	padding-left: 0;
}

/** Page Style Starts Here */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: url(images/image05.jpg) repeat-y;
}

#page-top {
	background: url(images/image03.jpg) no-repeat left top;
}

#page-bottom {
	background: url(images/image04.jpg);
	background-size: 100%;
	min-height: 340pt;
}

#content {
	margin: auto;
	width: 420px;
	padding: 40px 50px 30px 60px;
}

#content h2 {
	margin: 0;
	padding: 20px 0 10px 0;
	border-bottom: 1px dotted #CFCFCF;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
}

#sidebar {
	float: left;
	width: 250px;
	padding: 20px 0 0 20px;
}

#sidebar h2 {
	margin: 0;
	padding: 20px 0 10px 0;
	border-bottom: 1px dotted #CFCFCF;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px dotted #CFCFCF;
}
/** Footer Style Starts Here */

#footer {
	width: 1000px;
	height: 43px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	background: url(images/image02.jpg) no-repeat left top;
    background-size: 1000px;
}

#footer p {
	margin: 0;
	padding: 8px 0 0 0;
	text-align: center;
	font-size: 11px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}
